@import './variables';

.body{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $primary-color;
}

.main{
  display: flex;
  justify-content: center;
  align-items: centers;
  min-height: calc(100vh - $global-height)
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgba(255,255,255,0.8);
  padding: 8px;
  box-shadow: $default-shadow;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgba(255,255,255, 0.8);
  padding: 16px;
  a{
    color: $primary-color;
    text-decoration: none;
    font-weight: bold;
  }
}