@import '@/app/styles/variables';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  min-height: 50vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  box-shadow: $default-shadow
}

.title {
  font-size: 49px;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.fieldWrapper {
  width: 360px;
}

.inputWrapper{
  position: relative;
  margin-bottom: 48px
}

.input {
  display: block;
  width: 400px;
  height: 40px;
  background: transparent;
  border:none;
  font-size: 18px;
  border-bottom: 3px solid #efeeed;
  transition: all .3s ease;
  padding: 8px 8px 0;
  color: #333333;

  &:focus {
    outline: none
  }

  &:focus+label {
    font-size: 11px;
    top: -5px
  }

  &:focus+label {
    color: #939393
  }
}

.focused{
  &+label {
    font-size: 11px;
    top: -5px
  }
}

.error{
  border-color: #eb4a46;
}

.label {
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 13px;
  left: 8px;
  font-weight: bold;
  color: #939393;
  transition: all .3s ease
}

.fieldError{
  position: absolute;
  color: #eb4a46;
  font-size: 11px;
  top: 110%;
  left: 8px;
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 32px 0;
  gap: 16px
}

.button {
  @include button;
  border: none;
  width: 100%;
}